{% extends 'base.html' %} {% block content %}
<h1 class="m-5">Edit My Profile!</h1>

<img src="../../static/images/profile.jpg" class="img-thumbnail" alt="..." />
<form action="" method="post">
    {% csrf_token %}
    <label for="username" class="form-label">Username</label>
    <input class="form-control" id="username" type="text" name="username" value="{{ user }}" disabled>
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    <a class="btn btn-secondary" href="{% url "user_home" %}" role="button">Back</a>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
