{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex m-5">
    <h1>Edit My Profile</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-4 p-1">
            <img src="{% static 'media' %}/{{user.profile.image.image}}" class="img-thumbnail w-100 img-fluid" alt="..." />
        </div>
        <div class="col-8 mt-2">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% comment %} <div class="row">
                    <div class="col-6">
                        <label for="username" class="form-label">Username</label>
                        <input class="form-control" id="username" type="text" name="username" value="{{ user }}" disabled>
                    </div>
                </div> {% endcomment %}

                {% comment %} {{ user_form.username }} {% endcomment %}
                <div class="row d-flex justify-content-start mb-2">
                    <div class="col-5">
                        {{ user_form.first_name.label_tag }}
                        {{ user_form.first_name }}
                    </div>
                    <div class="col-5">
                        {{ user_form.last_name.label_tag }}
                        {{ user_form.last_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 mt-3">
                        {{ profile_form.description.label_tag }}
                        {{ profile_form.description}}
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="formFileMultiple" class="form-label">Image:</label>
            <input class="form-control" name="images" type="file" id="formFileMultiple" />
        </div>
        <div class="col-6 d-flex align-items-center justify-content-around">
            <a class="btn btn-secondary mt-4 p-2 px-5" href="{% url 'user_home' %}" role="button">Back</a>
            <button type="submit" class="btn btn-primary mt-4 p-2 px-5">Save</button>
        </div>
    </div>
    </form>
</div>
{% endblock %}
