{% extends 'base.html' %} {% load static %} {% block content %}
<h1 class="m-5">My History!</h1>
<div class="container d-flex justify-content-center">
    <div class="col-10">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a href="#active-sales"
                    ><button
                        class="nav-link active"
                        id="active-sales-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#active-sales"
                        type="button"
                        role="tab"
                        aria-controls="active-sales"
                        aria-selected="true"
                    >
                        Active listings
                    </button></a
                >
            </li>
            <li class="nav-item" role="presentation">
                <a href="#bids"
                    ><button
                        class="nav-link"
                        id="active-bids-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#active-bids"
                        type="button"
                        role="tab"
                        aria-controls="active-bids"
                        aria-selected="false"
                    >
                        Active Bids
                    </button></a
                >
            </li>
            <li class="nav-item" role="presentation">
                <a href="#sales"
                    ><button
                        class="nav-link"
                        id="sales-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#sales"
                        type="button"
                        role="tab"
                        aria-controls="sales"
                        aria-selected="false"
                    >
                        Sold items
                    </button></a
                >
            </li>
            <li class="nav-item" role="presentation">
                <a href="#purchases"
                    ><button
                        class="nav-link"
                        id="purchases-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#purchases"
                        type="button"
                        role="tab"
                        aria-controls="purchases"
                        aria-selected="false"
                    >
                        Bought items
                    </button></a
                >
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="list-group tab-pane fade show active" id="active-sales" role="tabpanel"
                aria-labelledby="active-sales-tab">
                <p>Item name Highest bid </p>
                {% include 'user/history/active_listings.html' %}
            </div>

            <div class="list-group tab-pane fade" id="active-bids" role="tabpanel" aria-labelledby="active-bids-tab">
                {% include 'user/history/active_bids.html' %}
            </div>
            <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
                {% include 'user/history/sold_items.html' %}
            </div>
            <div class="tab-pane fade" id="purchases" role="tabpanel" aria-labelledby="purchases-tab">
                {% include 'user/history/bought_items.html' %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/tabSelector.js'%}"></script>

{% endblock %}
