{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="m-5"> My History!</h1>
<div class="container d-flex justify-content-center">
    <div class="col-10">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a href="#active-sales"><button class="nav-link active" id="active-sales-tab" data-bs-toggle="tab"
                    data-bs-target="#active-sales" type="button" role="tab" aria-controls="active-sales"
                    aria-selected="true">Active Sales</button></a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#bids"><button class="nav-link" id="active-bids-tab" data-bs-toggle="tab" data-bs-target="#active-bids"
                    type="button" role="tab" aria-controls="active-bids" aria-selected="false">Active Bids</button></a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#sales"><button class="nav-link" id="sales-tab" data-bs-toggle="tab" data-bs-target="#sales" type="button"
                    role="tab" aria-controls="sales" aria-selected="false">Sales</button></a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#purchases"><button class="nav-link" id="purchases-tab" data-bs-toggle="tab" data-bs-target="#purchases"
                    type="button" role="tab" aria-controls="purchases" aria-selected="false">Purchases</button></a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">

            <div class="list-group tab-pane fade show active" id="active-sales" role="tabpanel"
                aria-labelledby="active-sales-tab">
                {% for item in active_sales %}
                    <a href="/items/{{item.id}}" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{item.title}}</h5>
                        <small>{{item.price}}</small> <!-- Should be time since posting -->
                    </div>
                    <p class="mb-1">{{item.description}}.</p>
                    <small>{{item.category}}</small>
                </a>
                {% endfor %}
            </div>

            <div class="list-group tab-pane fade" id="active-bids" role="tabpanel" aria-labelledby="active-bids-tab">
                {% for bid in bids %}
                    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{bid.item_id}}</h5>
                            <small>{{bid.timestamp}} | {{bid.expires}}</small>
                        </div>
                        <p class="mb-1">{{bid.amount}}</p>
                        <small>{{bid.user_id}}</small>
                    </a>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="sales" role="tabpanel" aria-labelledby="sales-tab">
                {% for item in sold_items %}
                    <a href="/items/{{item.id}}" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{item.title}}</h5>
                        <small>{{item.price}}</small> <!-- Should be time since posting ? -->
                    </div>
                    <p class="mb-1">{{item.description}}.</p>
                    <small>{{item.category}}</small>
                </a>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="purchases" role="tabpanel" aria-labelledby="purchases-tab">...</div>
        </div>
    </div>
</div>
<script src="{% static 'js/tabSelector.js'%}"></script>
{% endblock %}
