{% extends 'base.html' %}
{% block content %}
    <h1>Order review</h1>
        {% csrf_token %}
        <div class="card">
            <div class="card-body mx-4">
              <div class="container">
                <p class="my-5 mx-5" style="font-size: 30px;">Please review the information for your order before you confirm.</p>
                <div class="row">
                  <ul class="list-unstyled">
                    <div class="col-xl-10">
                        <li class="text-black mt-1">{{ date }}</li>
                        <hr>
                        <h3>Shipping info</h3>
                        <li class="text-black"><b>name:</b>  {{ summary.full_name }}</li>
                        <li class="text-black"><b>Address:</b> {{ summary.address }}</li>
                        <li class="text-black"><b>Zip:</b> {{ summary.postal_code }}</li>
                        <li class="text-black"><b>City:</b> {{ summary.city }}</li>
                    </div>
                    <hr>
                    <div class="col-xl-10">
                        <h3>Payment info</h3>
                        <li class="text-black"><b>Card owner:</b> {{ summary.cardholder_name }}</li>
                        <li class="text-black"><b>Card number:</b> {{ summary.card_number }}</li>
                        <li class="text-black"><b>CVC:</b> {{ summary.cvc }}</li>
                        <li class="text-black"><b>Expiry:</b> {{ summary.expiry_month }} / {{ summary.expiry_year }}</li>
                    </div>
                  </ul>
                  <hr>
                  <div class="col-xl-10">
                    <p>{{ item_name }}</p>
                  </div>
                  <div class="col-xl-2">
                    <p class="float-end"> $ {{ price }}
                    </p>
                  </div>
                  <hr>
                </div>
                <div class="row text-black">
                  <div class="col-xl-12">
                    <p class="float-end fw-bold">Total: $ {{ price }}
                    </p>
                  </div>
                  <hr style="border: 2px solid black;">
                </div>
              </div>
            </div>
          </div>
        <form action="/checkout/summary" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary" type="next">Confirm</button>
        </form>
        <form action="/checkout/payment" method="GET">
            {% csrf_token %}
            <button class="btn btn-primary" type="back">Back</button>
        </form>
{% endblock %}
