{% extends 'base.html' %}
{% block content %}
    {% for cat in categories %}
    <div class="row">
        <h4>{{cat.name}}</h4>
        {% for item in items %}
            {% if item.category == cat.id %}
                <div class="col">
                    <a href="/items/{{item.id}}">
                        <img src="https://via.placeholder.com/150/FF0000/FFFFFF/?Text='Down.com'">
                    </a>
                    <p>{{item.title}}</p><p>{{item.price}}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}
