{% for item, bids in sold_items %}
    {% if bids.count == 0 %}
    {% else %}
    <div href="{% url "item_details" item.id %}" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{item.title}}</h5>
            <small>{{item.price}}</small>
            <!-- Should be time since posting ? -->
        </div>
        <p class="mb-1">{{item.description}}</p>
        <small>{{item.category}}</small>

    </div>
    {% endif %}
{% endfor %}
