{% load static %}
<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">FireSale!</a>
        <div class="row justify-content-end align-items-center">
        <div class="col-md-auto">
            {% if user %}
            <a href="/user/history#sales">Active sales</a>
            <a href="/user/history#bids">Active bids</a>
            {% endif %}
            {% if not user %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}
            {% if user %}
        </div>
        <div class="col-md-auto">
            <div class="dropdown me-2">
                <img id="profileImg" class="dropdown-toggle" src="{% static '/images/profile.jpg' %}" data-bs-toggle="dropdown" aria-expanded="false">
                  <p class="dropdown-toggle" data-bs-toggle="dropdown">{{user.username}}</p>
                  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="profileImg" >
                    <li><a class="dropdown-item" href="/user">My profile</a></li>
                    <li><a class="dropdown-item" href="/user/history">History</a></li>
                    <li><a class="dropdown-item" href="/user/messages">Messages</a></li>
                </ul>
            </div>
        </div>
        {% endif %}
        </div>
    </div>
</nav>
