{% load static %}
<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
             <span class="fa-stack fa-2x">
                <i class="fa-solid fa-house fa-stack-2x" style="color:#173D5A"></i>
                <i class="fa-solid fa-circle fa-stack-1x" style="color:#FFB636"></i>
                <i class="fa fa-fire fa-stack-1x" style="color: #FF8F1F; font-size:64px;"></i>
             </span>
        </a>
        <form action="/search" method="POST" class="m-0">
            {% csrf_token %}
            <div class="dropdown">
             <input type="text" name="search" placeholder="Search..." id="myInput" >

                <button class="dropbtn" type="submit">Search</button>
                <div id="myDropdown" class="dropdown-content">

                </div>
            </div>
        </form>
        <div class="row justify-content-end align-items-center">
        {% if user.is_authenticated %}
            <div class="col-md-auto">
                {% include 'notification.html' %}
            </div>
        {% endif %}
        <div class="col-md-auto">
            {% if user.is_authenticated %}
            <a href="/user/history#active-sales">My sales</a>
            <a href="/user/history#bids">My bids</a>
            {% endif %}
            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}">Login</a>
                <a href="/register">Register</a>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="col-md-auto">
            <div class="dropdown me-2 mt-2">
                <img id="profileImg" class="dropdown-toggle" src="{% static 'media' %}/{{user.profile.image.image}}" data-bs-toggle="dropdown" aria-expanded="false">
                  <p class="dropdown-toggle" data-bs-toggle="dropdown">{{logged_in_user_rating}} <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="Orange"
                        class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg></p>
                  <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="profileImg" >
                    <li><a class="dropdown-item" href="{% url 'user_home' %}">My profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'user_history' %}">History</a></li>
                    <li><a class="dropdown-item" href="{% url 'user_messages' %}">Messages</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
        {% endif %}
        </div>
    </div>
</nav>
