<a href="{% url 'user_messages' %}">
        <span class="fa-stack fa-2x">
            <i class="fa-solid fa-bell fa-stack-2x" style="color:#173D5A"></i>
            {% if notifications.count > 0 %}
            <i class="fa-solid fa-circle fa-stack-1x" style="color:red; left: 10px; top:-15px; font-size:24px"></i>
                {% if notifications.count < 10 %}
                    <i class="fa-solid fa-{{notifications.count}} fa-stack-1x fa-inverse" style="left: 10px; top:-15px; font-size:15px"></i>
                {% else %}
                    <i class="fa-solid fa-9 fa-stack-1x fa-inverse" style="left: 6px; top:-15px; font-size:12px"></i>
                    <i class="fa-solid fa-plus fa-stack-1x" style="left: 14px; top:-15px; font-size:12px"></i>
                {% endif %}
            {% endif %}
        </span>
</a>
