{% extends 'base.html' %}
{% block content %}
    <div class="m-5">
        <h1>Register page</h1>
    </div>
    <div class="container register-container">
    <form action="/register" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
          {% for field in form %}
               {% for error in field.errors %}
                    <p style="color:red">{{field.label}}: {{ error|escape }}</p>
               {% endfor %}
          {% endfor %}
        {% endif %}
        <div class="spacer"></div>
        <button class="btn btn-custom-primary" type="submit">Register</button>
    </form>
    </div>
{% endblock %}
