a {
    color: black !important;
    text-decoration: none !important;
}
a:hover{
    color: orange !important;
}
.selected a{
    color: orange !important;
}

#item-description {
    height: 100%;
}
