a {
    color: black !important;
    text-decoration: none !important;
}
a:hover{
    color: orange !important;
}
.selected a{
    color: orange !important;
}

#item-description {
    height: 100%;
}
#profileImg{
    border-radius: 45px;
    height: 32px;
    width: 32px;
}
